# Skrypty lokalne (nie commitowane)
git-push.sh
pack-data.sh
release-update.sh
release-now.sh

# Pliki środowiskowe
.env
.env.*

# Release files
releases/
*.7z
*.zip
*.dat
*.tar.gz
release-now.md

# Binarki i build
bin/
obj/
build/
dist/
*.exe
*.dll

# Katalogi z danymi
data/
